[Desktop Entry]
Encoding=UTF-8
Name=Pivx
Comment=Pivx P2P Cryptocurrency
Comment[fr]=Pivx, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Pivx, eşten eşe kriptografik sanal para birimi
Exec=pbs-qt %u
Terminal=false
Type=Application
Icon=pbs128
MimeType=x-scheme-handler/pbs;
Categories=Office;Finance;
