[Desktop Entry]
Encoding=UTF-8
Name=Pivx
Comment=Pivx P2P Cryptocurrency
Comment[fr]=Pivx, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Pivx, eşten eşe kriptografik sanal para birimi
Exec=slatechain-qt %u
Terminal=false
Type=Application
Icon=slatechain128
MimeType=x-scheme-handler/slatechain;
Categories=Office;Finance;
